.App {
  display:grid;
  grid-template-columns: 5% 50% 50%;
  grid-template-rows: 20% 20% auto;
  column-gap:20px;
  row-gap:20px;
  width: 95vw;
  height: 90vh; 
  flex:2;
  align-self: flex-start;
  justify-content: center;
}

.heading {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end:1;
  display: flex;
  text-align: center;
  font-size: xxx-large;
  font-weight: bolder;
  flex-direction: column;
  justify-content: space-around
}

.investment {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:2;
  grid-row-end:2;
  display: flex;
  text-align: center;
  font-size:xx-large;
  align-content: center;
  font-weight: bolder;
  flex-direction: column;
  justify-content: space-around
}

.portfolio-value {
  grid-column-start: 3;
  grid-column-end: 3;
  display: flex;
  grid-row-start:2;
  grid-row-end:2;
  text-align: center;
  font-size:xx-large;
  align-content: center;
  font-weight: bolder;
  flex-direction: column;
  justify-content: space-around
}

.portfolio-graph {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:3;
  grid-row-end:3;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding:5px 5px;
  overflow:auto;
}

.transaction-box {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end:3;
  border-radius: 15px;
  flex: display;
  flex-direction: column;
  overflow:auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.transaction {
  height: 3vw;
  padding: 5px 0px 5px 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 10px;
  align-items: center;
  font-weight: bold;
  justify-content:space-evenly
}